<app-side-menu></app-side-menu>
<app-qrcodepopup *ngIf="showPopup"></app-qrcodepopup>
<div class="st-dashboard" *ngIf="!showPopup">
  <section class="header">
    <div class="header-area">
      <div>
        <div class="brand">
          <img src="../../../assets/images/logo.jpg" alt="" title="" width="180" />
          <div class="page-title">Class Room</div>
        </div>
      </div>

      <div class="header-content">
        <div>
          <label for="selectdate" class='date-label mb-0'>Select date</label>
          <input type="date" name="selectdate" id="selectdate" class='date-input'>
        </div>
        <div class="current-chapter-content">
          <img src="../../../assets/images/chapter-img.png" alt="" title="" width="72px" height="72px">
          <div class="current-chapter-text">
            <div class="fnormal">Current Chapter Title comes here</div>
            <div class="chapter-separator"></div>
            <div class="fsmall">Medium</div>
          </div>
        </div>
        <div class="header-btn"><button type="button" class="start-btn">Lets Start</button></div>
      </div>
    </div>
    <!-- <div class="nav">
      <ul>
        <li>
          <a href="#" class="active" title="Class Room" tabindex="0">Class Room</a>
        </li>
        <li><a href="#" title="Staff Room" tabindex="0">Staff Room</a></li>
      </ul>
    </div> -->
  </section>

  <div class="dashboard-grid scroll">
    <section class="grid-item empty" [@appearDown]>
      <div class="section-in-area">
        <div class="grid-section-content">
          <div>IV Class, Section A</div>
          <div>{{teacherProfile?.subject}}</div>
        </div>
        <h4 class="title text-left mt-8">{{teacherProfile?.sessionId}}</h4>
      </div>
    </section>
    <section class="grid-item attendence">
      <div class="section-in-area active">
        <div class="font-weight-bold">ATTENDENCE</div>
        <div class="attendance-pills-container">
          <div class="d-flex attendance-pills-image">
            <div class="text-center fsmall font-weight-bold pb-16">
              <img src="../../assets/images/pic2.png" alt="" title="" class="student-img">
              <div class="pt-8">Student Name</div>
              <div>85%</div>
            </div>
            <div class="text-center fsmall font-weight-bold pb-16">
              <img src="../../assets/images/pic2.png" alt="" title="" class="student-img">
              <div class="pt-8">Student Name</div>
              <div>85%</div>
            </div>
            <div class="text-center fsmall font-weight-bold pb-16">
              <img src="../../assets/images/pic2.png" alt="" title="" class="student-img">
              <div class="pt-8">Student Name</div>
              <div>85%</div>
            </div>
            <div class="text-center fsmall font-weight-bold pb-16">
              <img src="../../assets/images/pic2.png" alt="" title="" class="student-img">
              <div class="pt-8">Student Name</div>
              <div>85%</div>
            </div>

          </div>
          <div class="attendance-separator my-16"></div>
          <div class="d-flex flex-jc-space-between">
            <div class="text-left font-weight-bold pt-8">
              <div class="fsmall">Attendance</div>
              <div class="fs-1-16">8/10</div>
            </div>
            <div class="text-left font-weight-bold pt-8">
              <div class="fsmall">Today's %</div>
              <div class="fs-1-16">92</div>
            </div>
            <div class="text-left font-weight-bold pt-8">
              <div class="fsmall">Quarterly % </div>
              <div class="fs-1-16">90</div>
            </div>
            <div class="text-left font-weight-bold pt-8">
              <div class="fsmall">Overall %</div>
              <div class="fs-1-16">93</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="grid-item upcoming" [@appearDown]>
      <div class="section-in-area">
        <div class="grid-section-content">
          <div class="next-class-label">Teacher Profile </div>
        </div>
        <div class="grid-next-class-content">
          <div><img alt="{{teacherProfile?.name}}" src="{{teacherProfile?.avatar}}" width="72px" height="72px"></div>
          <div class="d-block mx-8">
            <div class="grid-class-text sb__ellipsis sb__ellipsis--two">Teacher's Professional Development Programme</div>
            <div class="divider"></div>
            <div class="grid-class-text sb__ellipsis sb__ellipsis--two">English | Class 4, Section A |</div>
          </div>
        </div>
      </div>
    </section>
    <section class="grid-item timetable">
      <div class="section-in-area">
        <div class="time-table-title">Time Table</div>
        <div class="time-table-content-container">

          <div class="time-table-content" *ngFor="let period of timeTable">
            <div class="time-status">
              <div class="circle"></div>
              <div class="border-status"></div>
              <div class="circle"></div>
            </div>
            <div class="timing-show"> 8:15 - 9:00
              <div class="grid-table-content">
                <div><img src="../../../assets/images/pic.png" width="72px" height="72px" alt="" title=""></div>
                <div class="d-block mx-8 w-100">
                  <div class="grid-time-table-text sb__ellipsis sb__ellipsis--two">Teacher's Professional Development Programme</div>
                  <div class="divider"></div>
                  <div class="grid-time-table-text">Social Studies</div>
                </div>
              </div>
            </div>
          </div>
          <div class="time-table-content">
            <div class="time-status">
              <div class="circle"></div>
              <div class="border-status"></div>
              <div class="circle"></div>
            </div>
            <div class="timing-show"> 8:15 - 9:00
              <div class="grid-table-content">
                <div><img src="../../../assets/images/pic.png" width="72px" height="72px" alt="" title=""></div>
                <div class="d-block mx-8 w-100">
                  <div class="grid-time-table-text sb__ellipsis sb__ellipsis--two">Teacher's Professional Development Programme</div>
                  <div class="divider"></div>
                  <div class="grid-time-table-text">Social Studies</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="grid-item assessment" [@appearDown]>
      <div class="section-in-area">
        <div class="my-8 mx-0 font-weight-bold">ASSESSMENT</div>
        <div class="graph-img">
          <img src="../../../../assets/images/graph.png">
        </div>
      </div>
    </section>

    <section class="grid-item leaderboard" [@appearDown]>
      <!-- grid-item--selected -->
      <div class="section-in-area">
        <div class="leaderboard-title">Assessment Leader Board</div>
        <div class="leaderboard-content-container">
          <div class="leaderboard-content">
            <div class="card-leaderboard-content first">
              <div class="leaderboard-serial-content">
                <div class="serial-no-content first">
                  <span class="serial-no-text">1</span>
                </div>
              </div>
              <div class="d-flex flex-dc w-100 leaderboard-text">
                <div class="ml-16">Student Name </div>
                <div class="d-flex flex-jc-space-between flex-ai-center">
                  <div class="ml-16">L 8/10</div>
                  <div class="ml-16 my-4">90sec</div>
                </div>
              </div>
            </div>
          </div>
          <div class="leaderboard-content ">
            <div class="card-leaderboard-content second">
              <div class="leaderboard-serial-content">
                <div class="serial-no-content second">
                  <span class="serial-no-text">1</span>
                </div>
              </div>
              <div class="d-flex flex-dc w-100 leaderboard-text">
                <div class="ml-16">Student Name </div>
                <div class="d-flex flex-jc-space-between flex-ai-center">
                  <div class="ml-16">L 8/10</div>
                  <div class="ml-16 my-4">90sec</div>
                </div>
              </div>
            </div>
          </div>
          <div class="leaderboard-content ">
            <div class="card-leaderboard-content third">
              <div class="leaderboard-serial-content">
                <div class="serial-no-content third">
                  <span class="serial-no-text">1</span>
                </div>
              </div>
              <div class="d-flex flex-dc w-100 leaderboard-text">
                <div class="ml-16">Student Name </div>
                <div class="d-flex flex-jc-space-between flex-ai-center">
                  <div class="ml-16">L 8/10</div>
                  <div class="ml-16 my-4">90sec</div>
                </div>
              </div>
            </div>
          </div>
          <div class="leaderboard-content">
            <div class="card-leaderboard-content">
              <div class="leaderboard-serial-content">
                <div class="serial-no-content">
                  <span class="serial-no-text">1</span>
                </div>
              </div>
              <div class="d-flex flex-dc w-100 leaderboard-text">
                <div class="ml-16">Student Name </div>
                <div class="d-flex flex-jc-space-between flex-ai-center">
                  <div class="ml-16">L 8/10</div>
                  <div class="ml-16 my-4">90sec</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>


  </div>
</div>
