<app-login *ngIf="!loggedIn" [redirectToStaffRoom]="false" (loginComplete)="handleLogin()"></app-login>
<app-side-menu *ngIf="loggedIn"></app-side-menu>
<div *ngIf="loggedIn" class="st-dashboard">
  <section class="header">
    <div class="header-area">
      <div>
        <div class="brand">
          <img src="../../../assets/images/logo.jpg" alt="" title="" width="180" />
          <div class="page-title">Class Room</div>
        </div>
      </div>

      <div class="header-content">
        <div>
          <label for="selectdate" class='date-label mb-0'>Select date</label>
          <input type="date" name="selectdate" id="selectdate" class='date-input'>
        </div>
        <div class="current-chapter-content">
          <img src="../../../assets/images/chapter-img.png" alt="" title="" width="72px" height="72px">
          <div class="current-chapter-text">
            <div class="fnormal">Current Chapter Title comes here</div>
            <div class="chapter-separator"></div>
            <div class="fsmall">Medium</div>
          </div>
        </div>
        <div class="header-btn"><button type="button" class="start-btn" (click)="redirectToToc()">Lets Start</button></div>
      </div>
    </div>
    <!-- <div class="nav">
      <ul>
        <li>
          <a href="#" class="active" title="Class Room" tabindex="0">Class Room</a>
        </li>
        <li><a href="#" title="Staff Room" tabindex="0">Staff Room</a></li>
      </ul>
    </div> -->
  </section>

  <div class="dashboard-grid scroll">
    <section class="grid-item empty" [@appearDown]>
      <div class="section-in-area">
        <div class="grid-section-content">
          <div>{{ classname }}</div>
          <div>{{teacherProfile?.subject}}</div>
        </div>
        <h4 class="title text-left mt-8">{{teacherProfile?.sessionId}}</h4>
      </div>
    </section>
    <section class="grid-item attendence">
      <div class="section-in-area active">
        <div class="font-weight-bold">ATTENDEE</div>
        <div class="attendance-pills-container">
          <div class="d-flex attendance-pills-image">
            <div class="text-center fsmall font-weight-bold pb-16" *ngFor="let attendee of attendenceList">
              <div class="mx-8"><img alt="{{attendee?.event?.profileName}}" src="{{attendee?.event?.edata_profile_url}}"
                                     title=""
                                     class="student-img">
              </div>
              <div class="pt-8">{{attendee?.event?.profileName}}</div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <section class="grid-item upcoming" [@appearDown]>
      <div class="section-in-area">
        <div class="grid-section-content">
          <div class="next-class-label">Teacher Profile </div>
        </div>
        <div class="grid-next-class-content">
          <div><img alt="{{teacherProfile?.name}}" src="{{teacherProfile?.avatar}}" width="72px" height="72px"></div>
          <div class="d-block mx-8">
            {{teacherProfile?.name}}
            <div class="grid-class-text sb__ellipsis sb__ellipsis--two">{{teacherProfile?.subject}}
              | {{ classname }}</div>
          </div>
        </div>
      </div>
    </section>
    <section class="grid-item timetable">
      <div class="section-in-area">
        <div class="time-table-title">Time Table</div>
        <div class="time-table-content-container">

          <div class="time-table-content" *ngFor="let period of timeTable">
            <div class="time-status">
              <div class="circle"></div>
              <div class="border-status"></div>
              <div class="circle"></div>
            </div>
            <div class="timing-show"> {{period?.startTime}} - {{period?.endTime}}
              <div class="grid-table-content">
                <div><img src="{{period?.avatar}}" width="72px" height="72px" alt="" title=""></div>
                <div class="d-block mx-8 w-100">
                  <div class="grid-time-table-text sb__ellipsis sb__ellipsis--two">{{period.name}}</div>
                  <div class="divider"></div>
                  <div class="grid-time-table-text">{{period.subject}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="grid-item assessment" [@appearDown]>
      <iframe src="https://deveshmantra.github.io/quml_player/index.html" width="100%" height="100%"></iframe>
    </section>

    <section class="grid-item leaderboard" [@appearDown]>
      <!-- grid-item--selected -->
      <div class="section-in-area">
        <div class="leaderboard-title">Assessment Leader Board</div>
        <div class="leaderboard-content-container">

          <div class="leaderboard-content" *ngFor="let assessment of assessmentScore; let i =index">
            <div class="card-leaderboard-content second">
              <div class="leaderboard-serial-content">
                <div class="serial-no-content second">
                  <span class="serial-no-text">{{i + 1}}</span>
                </div>
              </div>
              <div class="d-flex flex-dc w-100 leaderboard-text">
                <div class="ml-16">{{assessment?.event?.profileName}}</div>
                <div class="d-flex flex-jc-space-between flex-ai-center">
                  <div class="ml-16"> {{assessment?.event?.score}}/10</div>
                  <div class="ml-16 my-4">{{assessment?.event?.duration}}sec</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  </div>
</div>
