@import './variables';
@import './mixins/mixins';
@import './dashboard-header';
@import './dashboard-card';

.st-dashboard {
  width: 100%;
  background-image: linear-gradient(to bottom right, #010035, rgb(5, 16, 77));
}

.dashboard-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  color: #444;
  justify-items: stretch;
  -webkit-box-align: stretch;
  align-items: stretch;
  // height: calc(100vh - 5rem);
  padding: 7rem 2rem 2rem 2rem;
  z-index: 3;
}

@include respond-above(md) {
  .dashboard-grid {
    grid-template-columns: minmax(auto, 30%) minmax(auto, 20%) minmax(auto, 20%) minmax(auto, 30%);
    grid-template-rows: 9rem 6rem auto auto;
  }

  .attendence {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
  }

  .empty {}

  .leaderboard {
    grid-column: 4;
    grid-row: 2/span 3;
    overflow: auto;
  }

  .assessment {
    grid-column: 2/span 2;
    grid-row: 3/span 2;
  }

  .timetable {
    // grid-column: 1 / span 2;
    grid-row: 2/span 3;overflow: auto;
    overflow: auto;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1132px) {
  .dashboard-grid {
    padding: 10rem 2rem 2rem 2rem;
  }
}
