<br>
<div class='app'>

  <div class='app-calendar' *ngIf="calendarVisible">
    <full-calendar
      #calendar
      defaultView="dayGridMonth"
      maxTime="19:00:00"
      minTime="07:00:00"
      [header]="{
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      }"
      [plugins]="calendarPlugins"
      [weekends]="calendarWeekends"
      [events]="calendarEvents"
      (dateClick)="handleDateClick($event)"
    ></full-calendar>
  </div>

</div>
