<app-side-menu></app-side-menu>

<div class="staff-list">
  <section class="header">
    <div class="brand">
      <img src="../../../assets/images/logo.jpg" alt="" title="" width="180" />
    </div>
    <div class="page-title">Staff Room</div>
  </section>

  <div class="ui stackable grid m-0" style="padding-top:80px;">
    <div class="three wide column p-0">
      <section class="staff-grid-item" style="background: none;height:100%;">
        <div class="section-in-area">
          <div class="img-container">
            <img [src]="configService.userInfo?.photo || profileInfo.avatar"
              (error)="profilePic.src = defaultProfileImg" #profilePic>
          </div>
          <h4>{{configService.userInfo?.name ||profileInfo.name}}</h4>
          <div class="subjects-section">
            <!-- <span class="subject-pill" *ngFor="let sub of teacher?.subjects">
                 {{sub}}
             </span> -->
            <span class="sb-h6">Subjects: </span> 
            <span class="subject-pill" *ngIf="profileInfo.subject">
              {{profileInfo.subject}}
            </span>
          </div>
          <div class="subjects-section">
            <!-- <span class="subject-pill" *ngFor="let sub of teacher?.subjects">
                 {{sub}}
             </span> -->
            <span class="sb-h6">Class:</span>  
            <span class="subject-pill" *ngIf="profileInfo.subject">
              Class - 08</span> <span class="subject-pill" *ngIf="profileInfo.subject">
              Class - 09
            </span>
          </div>
          <div class="subjects-section">
            <!-- <span class="subject-pill" *ngFor="let sub of teacher?.subjects">
                 {{sub}}
             </span> -->
            <span class="sb-h6">Medium:</span> <span class="subject-pill" *ngIf="profileInfo.subject">
              Hindi
            </span> <span class="subject-pill" *ngIf="profileInfo.subject">
              English
            </span>
          </div>
        </div>
      </section>
    </div>
    <div class="nine wide column sb-bg-color-white p-0">
      <section class="p-16">
        <full-calendar #calendar defaultView="timeGridWeek" maxTime="16:00:00" minTime="09:00:00" [header]="{
          left: 'prev,next today',
          center: 'title',
          right: 'timeGridWeek,timeGridDay'
        }" [plugins]="calendarPlugins" [weekends]="calendarWeekends" [events]="calendarEvents"
          (eventClick)="handleEventClick($event)" [hiddenDays]="[0]" [allDaySlot]="false"></full-calendar>
      </section>
    </div>

  </div>
</div>
