<section class="header">
  <div class="header-area">
    <div>
      <div class="brand">
        <img src="../../../assets/images/logo.jpg" alt="" title="" width="180" />
        <div class="switch-field">
          <input type="radio" id="radio-one" name="switch-one" value="yes" checked/>
          <label (click)="handleToggle('class')" for="radio-one">Class View</label>
          <input type="radio" id="radio-two" name="switch-one" value="no" />
          <label (click)="handleToggle('teacher')" for="radio-two">Teacher View</label>
        </div>
      </div>
    </div>
    

    <div class="header-content">
      <div>
        <label for="selectdate" class='date-label mb-0'>Select date</label>
        <input type="date" name="selectdate" id="selectdate" class='date-input'>
      </div>
      <div class="current-chapter-content">
        <div class="current-chapter-text">
          <div class="fnormal">Dr Christopher Fernandes </div>
          <div class="chapter-separator"></div>
          <div class="fsmall">Phd Data science </div>
        </div>
        <img class ="principal-profile" src="https://images.pexels.com/photos/247917/pexels-photo-247917.jpeg?h=350&auto=compress&cs=tinysrgb" alt="" title="" width="72px" height="72px">
      </div>
    </div>
  </div>
  <!-- <div class="nav">
    <ul>
      <li>
        <a href="#" class="active" title="Class Room" tabindex="0">Class Room</a>
      </li>
      <li><a href="#" title="Staff Room" tabindex="0">Staff Room</a></li>
    </ul>
  </div> -->
</section>
<router-outlet></router-outlet>
